
/* Basic appearance formatting */
body {
    padding: 1em 1.5em;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    margin-top: 3em;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1em;
    margin-inline: 1em;
}

/* The informational text is off to start */
#toggleDiv {
    display: none;
}
  
/* Use a different color when hovering over rows with cursor*/ 
.species_row:hover{
    background-color:#eeeeee;
}
  
/* Set spectrogram container to only be large enough for one row to start*/ 
.spectrogramContainer {
    height: 102px;
    overflow: hidden;
}

.spectrogramContainer img {
    cursor: pointer;
    border-bottom:1px solid black;
}
  
#filterInput {
    width: 5rem;
}
  
/* Styling for overlays */
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
.audiobox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}
  
/* Styling for active buttons */
div>.active{
      background: #2c5e9c !important;
}
  
/* Background image and style for navbar */
.navbar {
    background-color: #000000;
    background-image: url('https://rhine3.github.io/nfcs2/header/header.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 4.5em;
    background-position-y: 1px;
}


.form-switch.form-switch-md {
    padding-left: 4.5em;
    height: 2em;
}

.form-switch.form-switch-md .form-check-input {
    margin-left: -4.5em;
    height: 1.5em;
    width: 3em;
}

#nfcTable img {
    margin: 2px 2px 2px 2px;
    float: left;
}